
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="">
    <div class="col-form-label ">
       Kategori Sayısı:  @ViewBag.katgorisayisi
        <br />
        enfazla basliga sahip:@ViewBag.EnFazlaBasligaSahipKategori
    <br />

        En Fazla Başlığa Sahip Kategorinin Idsi: @ViewBag.EnFazlaBasligaSahipKategori
    <br />
        A Harfi geçen yazar sayısı: @ViewBag.Aharfigecensutunsayisi
    <br />
        True İle False arasındaki fark: @ViewBag.TrueFalseFarki



    </div>


</div>
